* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'lucida Snas','lucida Snas regular','lucida Grande','lucida media','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header, footer{
    background-color: darkblue;
    color: rgb(241, 241, 241);
    padding: 20px 80px;
}
a {
    text-decoration: none;
    color: rgb(225, 225, 236);
    font-size: 40px;
    margin-left: 2%;
}
.inicio {
    background-color: darkblue;
    height: 400px;
}
.conteudo {
    color: white;
    height: 40px;
}
.tinicio {
    font-size: 40px;
}
.pinicio {
    font-size: 40px;
}
.caixa {
    width: 200px;
    border: 1px solid black;
    padding: 7px;
    text-align: center;
}
.diferente {
    margin: 100px 120px;
}
h4 { 
    font-weight: 100;
    margin-top: 10px;
}
.planos{
    margin: 50px 80px;
}
.card {
    background-color: blueviolet;
    width: 400px;
    text-align: center;
    padding: 30px 0;
}
.linha {
    height: 30px;
}
.clara {
    background-color: rgb(208, 134, 6);
}
.escura {
    background-color: rgb(208, 134, 6);
}
h3 {
    font-size: 25px;
}
h5 {
    font-size: 20px;
    margin: 7px 0;
    font-weight: 200;
}
.cinza {
    color: rgb(0, 0, 0);
}
footer .menu {
    display: flex;
    flex-direction:column;
}
input {
    width: 200px;
    font-size: 20px;
    border-radius: 7px;
}
button {
    font-size: 20px;
    border-radius: 7px;
    border: 2x solid black;
    padding: 5px 7px;
}
.noticias {
    width: 350px;
}
.noticias h3 {
    font-weight: 200;
}
.contato {
    background-color: rgb(60, 0, 255);
    height: 500px;
    color: white;
    padding: 100px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    color: white;
    font-size: 24px;
}
.ctitulo {
    font-size: 30px;
}
.ctexto {
    font-size: 24px;
}

button {
    width: 150px;
    margin-top: 20px;
}

form input {
    width: 500px;
    height: 30px;
}
a {
    transition: 0.3 ease-out;
}
a:hover {
    color:  red;
}

img:hover{
    color: red;
}